<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.partybuilding.mapper.PartyBuildingOrganizationThirdMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.partybuilding.entity.PartyBuildingOrganizationThird">
        <id column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
        <result column="third_name" property="thirdName" />
        <result column="third_charge_name" property="thirdChargeName" />
        <result column="third_charge_phone" property="thirdChargePhone" />
        <result column="third_picture" property="thirdPicture" />
        <result column="third_location" property="thirdLocation" />
        <result column="third_location_latitude" property="thirdLocationLatitude" />
        <result column="third_location_longitude" property="thirdLocationLongitude" />
        <result column="first_id" property="firstId" />
        <result column="first_name" property="firstName" />
        <result column="no" property="no" />
        <result column="second_id" property="secondId" />
        <result column="second_name" property="secondName" />
        <result column="organization_system" property="organizationSystem" />
        <result column="town_street" property="townStreet" />
    </resultMap>

</mapper>
