<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.employeetrain.mapper.SupEmployeesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.employeetrain.entity.SupEmployees">
        <id column="id" property="id" />
        <result column="staff_type_id" property="staffTypeId" />
        <result column="staff_type" property="staffType" />
        <result column="industry_type_id" property="industryTypeId" />
        <result column="industry_type" property="industryType" />
        <result column="user_type" property="userType" />
        <result column="user_name" property="userName" />
        <result column="id_number" property="idNumber" />
        <result column="password" property="password" />
        <result column="settle_enterprise_status" property="settleEnterpriseStatus" />
        <result column="user_gender" property="userGender" />
        <result column="physical_examination" property="physicalExamination" />
        <result column="phone" property="phone" />
        <result column="health_photo" property="healthPhoto" />
        <result column="health_photo_number" property="healthPhotoNumber" />
        <result column="health_photo_start_date" property="healthPhotoStartDate" />
        <result column="health_photo_end_date" property="healthPhotoEndDate" />
        <result column="health_photo_effective_date" property="healthPhotoEffectiveDate" />
        <result column="health_photo_issuing_authority" property="healthPhotoIssuingAuthority" />
        <result column="id_card_photo" property="idCardPhoto" />
        <result column="work_type_id" property="workTypeId" />
        <result column="work_type_name" property="workTypeName" />
        <result column="education_level" property="educationLevel" />
        <result column="certificate_number" property="certificateNumber" />
        <result column="register_number" property="registerNumber" />
        <result column="practice_type" property="practiceType" />
        <result column="practice_range" property="practiceRange" />
        <result column="practice_area" property="practiceArea" />
        <result column="issuing_authority_licensed" property="issuingAuthorityLicensed" />
        <result column="pharmacist_certificate_number" property="pharmacistCertificateNumber" />
        <result column="pharmacist_cert_start_time" property="pharmacistCertStartTime" />
        <result column="pharmacist_cert_end_time" property="pharmacistCertEndTime" />
        <result column="other_photo" property="otherPhoto" />
        <result column="start_time" property="startTime" />
        <result column="pharmacist_cert_photo" property="pharmacistCertPhoto" />
        <result column="practice_cert_photo" property="practiceCertPhoto" />
        <result column="end_time" property="endTime" />
        <result column="we_chat_id" property="weChatId" />
        <result column="enterprise_province_city_area" property="enterpriseProvinceCityArea" />
        <result column="enterprise_name" property="enterpriseName" />
        <result column="enterprise_credit_code" property="enterpriseCreditCode" />
        <result column="enterprise_type" property="enterpriseType" />
        <result column="enterprise_coa_code" property="enterpriseCoaCode" />
        <result column="employee_province" property="employeeProvince" />
        <result column="employee_city" property="employeeCity" />
        <result column="employee_area" property="employeeArea" />
        <result column="enterprise_province" property="enterpriseProvince" />
        <result column="enterprise_city" property="enterpriseCity" />
        <result column="enterprise_area" property="enterpriseArea" />
        <result column="operate_datetime" property="operateDatetime" />
        <result column="law_enforcement_officer_certificate" property="lawEnforcementOfficerCertificate" />
        <result column="job_type" property="jobType" />
        <result column="approve_project" property="approveProject" />
        <result column="issuing_department" property="issuingDepartment" />
        <result column="operator_certificate_number" property="operatorCertificateNumber" />
        <result column="employee_address" property="employeeAddress" />
        <result column="employee_work_address" property="employeeWorkAddress" />
        <result column="operator_start_time" property="operatorStartTime" />
        <result column="operator_end_time" property="operatorEndTime" />
        <result column="town_id" property="townId" />
        <result column="town_name" property="townName" />
        <result column="community_id" property="communityId" />
        <result column="community_name" property="communityName" />
        <result column="grid_id" property="gridId" />
        <result column="grid_name" property="gridName" />
        <result column="required_class_hour" property="requiredClassHour" />
        <result column="unified_code" property="unifiedCode" />
        <result column="add_datetime" property="addDatetime" />
        <result column="creator" property="creator" />
    </resultMap>

</mapper>
