<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.employeetrain.mapper.TrainCourseMaterialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.employeetrain.entity.TrainCourseMaterial">
        <id column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="material_id" property="materialId" />
        <result column="operate_time" property="operateTime" />
        <result column="operate_person" property="operatePerson" />
        <result column="operate_ip" property="operateIp" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>

</mapper>
