<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.village.mapper.VillageConstructionProjectChangeRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.village.entity.VillageConstructionProjectChangeRecord">
        <id column="id" property="id" />
        <result column="project_id" property="projectId" />
        <result column="no" property="no" />
        <result column="modify_man" property="modifyMan" />
        <result column="modify_datetime" property="modifyDatetime" />
        <result column="project_manner" property="projectManner" />
        <result column="entension" property="entension" />
        <result column="extensiontime" property="extensiontime" />
        <result column="project_operator" property="projectOperator" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
        <result column="area_street" property="areaStreet" />
        <result column="area_id" property="areaId" />
    </resultMap>

</mapper>
