<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.auth.mapper.NewSysDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.auth.entity.SysDept">
        <id column="id" property="id" />
        <result column="area_id" property="areaId" />
        <result column="area_name" property="areaName" />
        <result column="dept_code" property="deptCode" />
        <result column="dept_name" property="deptName" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
        <result column="seq" property="seq" />
        <result column="default_role_id" property="defaultRoleId" />
        <result column="default_role_name" property="defaultRoleName" />
        <result column="dept_type" property="deptType" />
        <result column="leader_name" property="leaderName" />
        <result column="contact_phone" property="contactPhone" />
        <result column="introduction" property="introduction" />
        <result column="picture" property="picture" />
        <result column="remark" property="remark" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>

</mapper>
