<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.forum.mapper.ForumReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.forum.entity.ForumReply">
        <id column="id" property="id" />
        <result column="reply_content" property="replyContent" />
        <result column="pic_url" property="picUrl"
                typeHandler="upc.c505.modular.forum.util.JsonSafeTypeHandler" />
        <result column="type" property="type" />
        <result column="topic_id" property="topicId" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operate_datetime" property="operateDatetime" />
        <result column="is_shield" property="is_shield" />
        <result column="like_num" property="likeNum" />
    </resultMap>

</mapper>
