<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.govservice.mapper.GovServiceSummaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.govservice.entity.GovServiceSummary">
        <id column="id" property="id" />
        <result column="department_name" property="departmentName" />
        <result column="department_picture" property="departmentPicture" />
        <result column="department_phone" property="departmentPhone" />
        <result column="department_service_time" property="departmentServiceTime" />
        <result column="department_address" property="departmentAddress" />
        <result column="department_work" property="departmentWork" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>

</mapper>
