<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.grassroots.mapper.GrassrootsAdviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.grassroots.entity.GrassrootsAdvice">
        <id column="id" property="id" />
        <result column="area_id" property="areaId" />
        <result column="area_name" property="areaName" />
        <result column="proposal_person" property="proposalPerson" />
        <result column="proposal_type" property="proposalType" />
        <result column="proposal_date" property="proposalDate" />
        <result column="proposal_title" property="proposalTitle" />
        <result column="proposal_content" property="proposalContent" />
        <result column="proposal_file" property="proposalFile" />
        <result column="reply_person" property="replyPerson" />
        <result column="reply_date" property="replyDate" />
        <result column="reply_content" property="replyContent" />
        <result column="reply_picture" property="replyPicture" />
        <result column="dept_id" property="deptId" />
        <result column="dept_name" property="deptName" />
        <result column="status" property="status" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>
    <select id="countAdviceNumberByType"
            resultType="upc.c505.modular.grassroots.controller.param.AdviceTypeCountReturnParam">
        select
            (select count(*)
                from grassroots_advice
                    where id is not null
                    AND area_id IN
                    <foreach collection="areaIdList" item="areaId" separator="," open="(" close=")">
                        #{areaId}
                    </foreach>
                        ) as adviceTotal,
            (select count(*)
                from grassroots_advice
                    where id is not null
                         and status = 0
                    AND area_id IN
                    <foreach collection="areaIdList" item="areaId" separator="," open="(" close=")">
                        #{areaId}
                    </foreach>
                    ) as noReply,
            (select count(*)
                from grassroots_advice
                    where id is not null
                        and status = 1
                    AND area_id IN
                    <foreach collection="areaIdList" item="areaId" separator="," open="(" close=")">
                        #{areaId}
                    </foreach>
                    ) as reply
    </select>

</mapper>
