<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.villageiot.mapper.VideoConfigZiguangMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.villageiot.entity.VideoConfigZiguang">
        <id column="id" property="id" />
        <result column="video_config_common_id" property="videoConfigCommonId" />
        <result column="picture" property="picture" />
        <result column="point_name" property="pointName" />
        <result column="camera_id" property="cameraId" />
        <result column="camera_name" property="cameraName" />
        <result column="stream_type" property="streamType" />
        <result column="stream_mode" property="streamMode" />
        <result column="keep_alive" property="keepAlive" />
        <result column="is_local" property="isLocal" />
        <result column="device_number" property="deviceNumber" />
        <result column="online" property="online" />
        <result column="latitude" property="latitude" />
        <result column="longitude" property="longitude" />
        <result column="add_time" property="addTime" />
        <result column="operator" property="operator" />
        <result column="operate_time" property="operateTime" />
        <result column="operate_ip" property="operateIp" />
    </resultMap>

</mapper>
