<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.villageiot.mapper.VideoInspectionRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.villageiot.entity.VideoInspectionRecord">
        <id column="id" property="id" />
        <result column="monitor_attributes" property="monitorAttributes" />
        <result column="enterprise_name" property="enterpriseName" />
        <result column="coa_code" property="coaCode" />
        <result column="ent_credit_code" property="entCreditCode" />
        <result column="coa_type" property="coaType" />
        <result column="business_address" property="businessAddress" />
        <result column="area_id" property="areaId" />
        <result column="area_name" property="areaName" />
        <result column="principal" property="principal" />
        <result column="phone" property="phone" />
        <result column="yearly_violation_frequency" property="yearlyViolationFrequency" />
        <result column="inspection_time" property="inspectionTime" />
        <result column="confirm_time" property="confirmTime" />
        <result column="inspection_way" property="inspectionWay" />
        <result column="picture" property="picture" />
        <result column="record" property="record" />
        <result column="handle" property="handle" />
        <result column="handling_opinions" property="handlingOpinions" />
        <result column="handle_time" property="handleTime" />
        <result column="is_reply" property="isReply" />
        <result column="reply" property="reply" />
        <result column="reply_time" property="replyTime" />
        <result column="reply_info" property="replyInfo" />
        <result column="enclosure" property="enclosure" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>
    <select id="countRemoteSupervision"
            resultType="upc.c505.modular.villageiot.controller.param.CountRemoteSupervisionReturnParam">
        SELECT
            ent_credit_code AS projectNumber,
            COUNT(*) AS remoteSupervisionNumber
        FROM
            video_inspection_record
        WHERE
            monitor_attributes = #{project} AND
            inspection_way = 0 AND
            is_reply = 0
        <if test="projectNumberList != null and projectNumberList.size() > 0">
            AND
            ent_credit_code IN
            <foreach collection="projectNumberList" separator="," open="(" close=")" item="projectNumber">
                #{projectNumber}
            </foreach>
        </if>
        GROUP BY
            ent_credit_code;
    </select>

</mapper>
