<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.collect.mapper.CollectionInfoMapper">

    <select id="customPage" resultType="map">
        SELECT t.*,
        (SELECT COUNT(*) FROM registration_record r WHERE r.collection_id = t.id) as totalFillCount,
        (SELECT COUNT(*) FROM registration_record r WHERE r.collection_id = t.id AND DATE(r.submit_time) = CURDATE()) as todayFillCount
        <if test="userId != null">
            , (SELECT MIN(r2.submit_time) FROM registration_record r2 WHERE r2.collection_id = t.id AND r2.share_user_id = #{userId}) as firstShareDate
        </if>
        FROM collection_info t
        WHERE t.del_flag = 'N'
        <if test="title != null and title != ''">
            AND t.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="enterpriseCode != null">
            AND t.enterprise_code = #{enterpriseCode}
        </if>
        <if test="userId != null">
            AND (FIND_IN_SET(#{userId}, t.sharable_staff_ids) OR t.creator_id = #{userId})
        </if>
        ORDER BY t.create_time DESC
    </select>

</mapper>