<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.phr.mapper.PhrHouseRenterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.phr.entity.PhrHouseRenter">
        <id column="id" property="id" />
        <result column="house_id" property="houseId" />
        <result column="renter_name" property="renterName" />
        <result column="renter_code" property="renterCode" />
        <result column="renter_contact" property="renterContact" />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate" />
        <result column="remark" property="remark" />
        <result column="file" property="file" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>

</mapper>
