<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.phr.mapper.PhrPopulationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.phr.entity.PhrPopulationLog">
        <id column="id" property="id" />
        <result column="target_id" property="targetId" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operation" property="operation" />
    </resultMap>

</mapper>
