<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.ecochain.mapper.EcoChainProductParameterValueContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.ecochain.entity.EcoChainProductParameterValueContent">
        <id column="id" property="id" />
        <result column="product_parameter_id" property="productParameterId" />
        <result column="value_name" property="valueName" />
        <result column="enterprise_name" property="enterpriseName" />
        <result column="social_credit_code" property="socialCreditCode" />
        <result column="sort_number" property="sortNumber" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>
    <update id="updateProductParameterValueContent" parameterType="upc.c505.modular.ecochain.entity.EcoChainProductParameterValueContent">
        UPDATE eco_chain_product_parameter_value_content
        <set>
            <if test="productParameterId != null">
                product_parameter_id = #{productParameterId},
            </if>
            <if test="valueName != null and valueName != ''">
                value_name = #{valueName},
            </if>
            <if test="enterpriseName != null and enterpriseName != ''">
                enterprise_name = #{enterpriseName},
            </if>
            <if test="socialCreditCode != null and socialCreditCode != ''">
                social_credit_code = #{socialCreditCode},
            </if>
            <if test="sortNumber != null">
                sort_number = #{sortNumber},
            </if>
            <if test="creator != null and creator != ''">
                creator = #{creator},
            </if>
            <if test="addDatetime != null">
                add_datetime = #{addDatetime},
            </if>
            <if test="operator != null and operator != ''">
                operator = #{operator},
            </if>
            <if test="operationDatetime != null">
                operation_datetime = #{operationDatetime},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectMaxSortNumber" resultType="java.lang.Integer" parameterType="upc.c505.modular.ecochain.entity.EcoChainProductParameterValueContent">
        SELECT MAX(sort_number) FROM eco_chain_product_parameter_value_content
        <where>
            <if test="socialCreditCode != null and socialCreditCode != ''">
                social_credit_code = #{socialCreditCode}
            </if>
        </where>
    </select>

</mapper>
