<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.ecochain.mapper.EcoChainVedioMonitorConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.ecochain.entity.EcoChainVedioMonitorConfig">
        <id column="id" property="id" />
        <result column="monitor_id" property="monitorId" />
        <result column="device_type" property="deviceType" />
        <result column="monitor_location_name" property="monitorLocationName" />
        <result column="is_public" property="isPublic" />
        <result column="related_project" property="relatedProject" />
        <result column="thumbnail_image" property="thumbnailImage" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
    </resultMap>

</mapper>
