<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.people.mapper.PeopleEnterpriseLicenseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.people.entity.PeopleEnterpriseLicense">
        <id column="id" property="id" />
        <result column="people_enterprise_id" property="peopleEnterpriseId" />
        <result column="license_type" property="licenseType" />
        <result column="license_name" property="licenseName" />
        <result column="license_number" property="licenseNumber" />
        <result column="issue_unit" property="issueUnit" />
        <result column="validity_time_start" property="validityTimeStart" />
        <result column="validity_time_end" property="validityTimeEnd" />
        <result column="status" property="status" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="url" property="url" />
    </resultMap>

</mapper>
