<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="upc.c505.modular.maintain.mapper.CascadeConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="upc.c505.modular.maintain.entity.CascadeConfig">
        <id column="id" property="id" />
        <result column="type" property="type" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
        <result column="name" property="name" />
        <result column="status" property="status" />
        <result column="color" property="color" />
        <result column="creator" property="creator" />
        <result column="add_datetime" property="addDatetime" />
        <result column="operator" property="operator" />
        <result column="operation_datetime" property="operationDatetime" />
        <result column="area_id" property="areaId"/>
        <result column="area_name" property="areaName"/>
    </resultMap>
    <select id="selectAllSmallFacility"
            resultType="upc.c505.modular.maintain.controller.param.FacilitiesLargeScreenReturnParam">
        SELECT
        id AS deviceTypeBreakdownId,
        name AS deviceTypeBreakdown,
        area_name AS unit,
        area_id AS areaId
        FROM
        cascade_config
        where
            level = 1
        <if test="manageAreaIdList != null and manageAreaIdList.size()!=0 ">
            And area_id IN
            <foreach collection="manageAreaIdList" item="areaId" separator="," open="(" close=")">
                #{areaId}
            </foreach>
        </if>
    </select>

</mapper>
